body {
    min-width: 1280px;
    min-height: 2762px;
    margin: 0px;
    padding:0;
}
body {
    background: grey;
    background-size: 1280px auto;
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
.main-header {
    margin-bottom: 0;
    min-height: 56px;
    background-color: palegreen;
}
.container {
    width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
    background-color:antiquewhite;
}

.navigation {
    min-height: 56px;
    background-color: aqua;
    margin: 0 auto;
}

.block-left {
    float:left;
    min-height: 56px;
    width: 478px;
    background-color: pink;
}
.block-right {
    float:right;
    min-height: 56px;
    width: 478px;
    background-color: pink;
}

.index-logo {
    min-height: 56px;
    width: 244px;
    background-color: fuchsia;
}

/* index.html */

.welcome-sedona {
    min-height:510px;
    background-color: gold;
    margin: 0 auto;
}
.slogan {
    width: 458px;
    height:352px;
    background-color: green; 
    margin-left: auto;
    margin-right: auto;
}
.advantages {
    min-height:216px;
    background-color: hotpink;
}
.reasons {
    width: 440px;
    min-height:216px;
    background-color: yellowgreen; 
    margin-left: auto;
    margin-right: auto;
}
.reasons-item {
    min-height:256px;
    background-color: orangered; 
}
.up .reasons-text {
    float:left;
    background-color: darkviolet;
    width: 400px;
    min-height:256px;
}
.up .photo{
    float:right;
    background-color: brown;
    width: 800px;
    min-height:256px;
}
.down .reasons-text {
    float:right;
    background-color: darkviolet;
    width: 400px; 
    min-height:256px;
}
.down .photo{
    float:left;
    background-color: brown;
    width: 800px; 
    min-height:256px;
}
.details{
    min-height:330px;
    background-color: royalblue; 
    
}
.details-item{
    float:left;
    background-color: snow;
    min-height:330px;
    width: 400px;  
}
.reasons-text1{
    float:left;
    background-color: gainsboro;
    min-height:330px;
    width: 400px;    
}
.inquiry {
    min-height:291px;
    background-color: hotpink;
}
.best-offer {
    width: 434px;
    min-height:291px;
    background-color: yellowgreen; 
    margin-left: auto;
    margin-right: auto;
}
.map {
    min-height: 475px;
    background-color: green;
}

.search {
    width: 570px;
    min-height:483px;
    background-color: yellowgreen; 
    margin-left: auto;
    margin-right: auto;   
}
.search-hotel {
    height: 86px;
    background-color: brown; 
}
.dates{
    height: 397px;
    background-color: lightcyan; 
}
.main-footer{
    min-height: 120px;
    background-color: palegreen;
}
.footer-author{
    float:left;
    min-height: 120px;
    width: 400px;
    background-color: lightcoral;
}
.footer-social{
    float:left;
    min-height: 120px;
    width: 400px; 
    background-color: lightcoral;
}
.footer-copyright{
    float:right;
    min-height: 120px;
    width: 400px; 
    background-color: lightcoral;
}

/* inner.html */

.conditions {
    min-height:217px;
    background-color: gold;
    margin: 0 auto;
}
.amenities{
    float:left;
    min-height: 217px;
    width: 300px;
    background-color: lightcoral; 
}
.price{
    float:right;
    min-height: 217px;
    width: 478px; 
    background-color: lightblue;
}
.results {
    min-height: 87px;
    background-color: darkviolet;
    margin: 0 auto;
    padding-left: 67px;
    padding-right: 67px;
}
.found {
    float:left;
    width: 143px;
    min-height: 87px;
    background-color: violet;
}
.sorting {
    float:left;
    width: 425px;
    min-height: 87px;
    background-color: violet;
}
.triangles {
    float:right;
    width: 123px;
    min-height: 87px;
    background-color: violet;
}
.hotels {
    min-height: 454px;
    background-color: coral;
    margin: 1px auto;
    padding-left: 67px;
    padding-right: 67px;
}    
.hotels-item {
    min-height: 150px;
    background-color: teal;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 1px;
} 
.photo {
    float:left;
    width: 143px;
    min-height: 90px;
    background-color: lawngreen;  
} 
.description {
    float:left;
    width: 425px;
    min-height: 90px;
    background-color: lawngreen;
} 
.description-name {
    display:inline-block;
    height: 63px;
    background-color: orange;
}
.buttons {
    display:inline-block;
    height: 27px;
    width: 258px;
    background-color: blueviolet;
}
.stars {
    float:right;
    width: 123px;
    min-height: 90px;
    background-color: lawngreen;
}
